<!------------------------ ----- new details section ---------------------->
<section class="card-section spad text-center second-section">
  <div class="container ">
    <div class="row justify-content-start">

      <div class="col-md-11">
        <div class="media">
          <img class="mr-3"
            src="../../../assets/imgs/labs2.jpg"
            alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0"> Al Jalila Foundation Awards AED 5 Million to Boost Medical Research</h5>
            <a class="date">13April 2016</a>
            <br>
            <p>
              Al Jalila Foundation is a global philanthropic organisation dedicated to transforming lives through
              medical education and research, was founded by His Highness Sheikh Mohammed Bin Rashid Al Maktoum,
              Vice-President and Prime Minister of the United Arab Emirates (UAE) and Ruler of Dubai in April 2013, to
              position Dubai and the UAE at the forefront of medical innovation.
              Al Jalila Foundation promotes medical education and research by investing in the UAE’s medical treatment
              capabilities; it provides scholarships to nurture a home-grown generation of medical professionals and
              supports ground-breaking research that addresses health challenges prevalent in the region. The Al Jalila
              Foundation Research Centre, set to open in 2017 in Dubai Healthcare City, will be a beacon for
              regionally-relevant medical innovation produced by home-grown biomedical researchers. The UAE’s first
              independent multi-disciplinary medical research centre will focus on five of the most pressing regional
              health challenges: cancer, cardiovascular diseases, diabetes, obesity and mental health.


            </p>

          </div>
        </div>
      </div>

      <!---------text   p-->
      <div class="row">
        <div class="col-xl-11 col-md-6">
          <p>
            Benefitting from the Foundation’s global outreach, the Al Jalila Foundation Research Centre will bring
            together international best practice and regional expertise in a cultivating environment with
            state-of-the-art facilities.
          </p>
        </div>
      </div>


      <!--------------- text ------------>
      <div class="row">

        <div class="col-xl-11 col-md-6">
          <p>
            Al Jalila Foundation is named after Her Highness Sheikha Al Jalila Bint Mohammed Bin Rashid Al Maktoum, the
            daughter of His Highness Sheikh Mohammed and Chairperson of Dubai Healthcare City Authority Her Royal
            Highness Princess Haya Bint Al Hussein. Al Jalila Foundation is fully funded by the generosity of donors.
            100% of funds donated to Al Jalila Foundation are invested into medical research, education and treatment in
            the UAE.
          </p>
        </div>
      </div>
      </div>
    </div>

</section>
<!-------------------------- End Card section  ------------------------->

<!-- section -->
 <!---- Your May Also BE INTESRESTED IN-->

<section class="sections-interstedCard">
  <div class="container justify-content-center">

    <!-------------Attachment --------------->
    <h2> attachments</h2>

    <div class="row  justify-content-left">
      <div class="col-sm-4">
        <div class="card-header">
          l Jalila Foundation.pdf
          <!-- icon-->
          <a class="icon">
            <i class="fas fa-download fa-2x"></i>
          </a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card-header">
          l Jalila Foundation.pdf
          <!-- icon-->
          <a class="icon">
            <i class="fas fa-download fa-2x"></i>
          </a>
        </div>
      </div>


  
 
    </div>


    <h2> you may also be intersted in</h2>
    
    <div class="row  justify-content-center">
  
      <div class="col-sm-4">
        <div class="card one" >
          <div class="card-body ">
            <div class="content">
              <h5 class="card-title"> About MRMI</h5>
              <p class="card-text">mohamed bin Rashid Al  Moktoum
                Global Initiatives was inagurated on 4 October 2015.</p>
            </div>
        
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card two">
          <div class="card-body">
            <div class="content">

            <h5 class="card-title">Our Message</h5>
            <p class="card-text"> As a young Foundation , we are inspired by out young nation whose achievement have surpassed</p>
          </div>
          </div>
        </div>
      </div>
  
  
      <div class="col-sm-4">
        <div class="card three" >
          <div class="card-body">
            <div class="content">
            <h5 class="card-title">our vission , Mission & Goals</h5>
            <p class="card-text">Vision Al Jalila Foundation is a global philanthropic organisation .</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

 <!---- Your May Also BE INTESRESTED IN-->
