

<!------------------------- First Section Slider  --------------->
            <section class="slider-section spad">
                <div id="carouselExampleIndicators"
                class="carousel slide"
                data-ride="carousel">
              
                <div class="carousel-inner"
                  role="listbox">
                  <!-- Slide One - Set the background image for this slide in the line below -->
                  <div class="carousel-item active"
                    style="background:  linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.2) 100%),url(../../../assets/imgs/slider1.jpg);">
                    <div class="carousel-caption ">
                      <div class="row justify-content-center">
                        <div class="col-xl-4 col-md-4">
                          <p> <a class="address-title"> AL Jalila Foundation </a>
                            is foucused on insprining the next generation of Emirati <a class="tilte-body"> Helalthcare</a>
                            professional un the UAE
              
                          </p>
              
                          <button type="button"
                            class="btn btn-primary ">READ MORE</button>
                          <button type="button"
                            class="btn btn-secondary ">DONATE NOW</button>
                        </div>
                      </div>
                    </div>
              
              
                  </div>
                  <!-- Slide Two - Set the background image for this slide in the line below -->
                  <div class="carousel-item"
                    style="background:  linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.2) 100%),url(../../../assets/imgs/slider1.jpg);">
                    <div class="carousel-caption ">
                      <div class="row justify-content-center">
                        <div class="col-md-4">
                          <p> <a class="address-title"> AL Jalila Foundation </a>
                            is foucused on insprining the next generation of Emirati <a class="tilte-body"> Helalthcare</a>
                            professional un the UAE
              
                          </p>
              
                          <button type="button"
                            class="btn btn-primary ">READ MORE</button>
                          <button type="button"
                            class="btn btn-secondary ">DONATE NOW</button>
                        </div>
                      </div>
                    </div>
              
                  </div>
                  <!-- Slide Three - Set the background image for this slide in the line below -->
                  <div class="carousel-item"
                    style="background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.2) 100%) ,url(../../../assets/imgs/slider1.jpg);">
                    <div class="carousel-caption ">
                      <div class="row justify-content-center">
                        <div class="col-md-4">
                          <p> <a class="address-title"> AL Jalila Foundation </a>
                            is foucused on insprining the next generation of Emirati <a class="tilte-body"> Helalthcare</a>
                            professional un the UAE
              
                          </p>
              
                          <button type="button"
                            class="btn btn-primary ">READ MORE</button>
                          <button type="button"
                            class="btn btn-secondary ">DONATE NOW</button>
                        </div>
                      </div>
                    </div>
              
                  </div>
                </div>
                <!--------------- button Previous and Next -------------------->
                <a class="carousel-control-prev"
                  href="#carouselExampleIndicators"
                  role="button"
                  data-slide="prev">
                  <i class="fas fa-chevron-left fa-5x"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next"
                  href="#carouselExampleIndicators"
                  role="button"
                  data-slide="next">
                  <i class="fas fa-chevron-right fa-5x"></i>
                  <span class="sr-only">Next</span>
                </a>
              </div>
       
              </section>
<!------------------------- End Slider --------------------------->


<!------------------------ ----- Card section ---------------------->
<section class="card-section spad text-center second-section">
  <div class="container ">
    <h4> How we have Helped</h4>
    <p> See how Al Jalila Foundation have promoted change locally and to the world</p>

      <div class="row justify-content-center">
        <div id="myCarousel"
        class="carousel slide mb-5"
        data-ride="carousel"
        data-interval="false">
        <div class="carousel-inner mx-auto">
          <div class="carousel-item active">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3  justify-content-center">
  
  
              <div class="col-lg-4 col-md-3 text-center" data-aos="fade-up"
              data-aos-anchor-placement="top-center">
                <!---------------  Icon ----------------->
                <i class="fas fa-graduation-cap fa-3x"></i>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"> TA'ALOUF PROGRAM</h5>
                    <h3>200</h3>
                    <h5> GRADUATES TO DATE </h5>
                    <p class="card-text">Ta'alouf program aims to extend its reach across the Emirates addressing the
                      needs of the country</p>
                  </div>
                </div>
  
              </div>
  
              <div class="col-lg-4 col-md-3 text-center" data-aos="fade-up"
              data-aos-anchor-placement="bottom-bottom">
                <!---------------  Icon ----------------->
                <i class="fas fa-graduation-cap fa-3x"></i>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"> TA'ALOUF PROGRAM</h5>
                    <h3>200</h3>
                    <h5> GRADUATES TO DATE </h5>
                    <p class="card-text">Ta'alouf program aims to extend its reach across the Emirates addressing the
                      needs of the country</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <a class="carousel-control-prev"
          href="#myCarousel"
          role="button"
          data-slide="prev">
          <span class="carousel-control-prev-icon"
            aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next"
          href="#myCarousel"
          role="button"
          data-slide="next">
          <span class="carousel-control-next-icon"
            aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  
          
          
    
      </div>
  </div>
</section>
<!-------------------------- End Card section  ------------------------->



<!---------------------- third section transform card  -------------------------->
<section class="card-section spad text-center third-section">
  <div class="container ">
    <h3 class="main-tile-three"> Today's Invesrment , Tomorrow's Cures </h3>
    <p> Support the different programs we have below</p>
      <div class="row justify-content-center">
      <div class="col-md-12">
        <ul class="trans-box">

          <!-----------item no 1 ------------>
          <li class="item1">
            <div class="box">
              <img src="../../../assets/imgs/sister.png">
  
              <a> Ta'alouf</a>
              <p>
                <i class="fas fa-plus"></i>
              </p>
            </div>
          </li>
          <!-----------item no 2------------>
          <li class="item2">
            <div class="box">
  
              <img src="../../../assets/imgs/box-2.png">
  
              <a> Zakat</a>
              <p>
                <i class="fas fa-plus"></i>
              </p>
            </div>
          </li>
  
  
          <!-----------item no 3 ------------>
  
          <li class="item3">
            <div class="box">
  
              <img src="../../../assets/imgs/heart.png">
  
              <a> A'awen</a>
              <p>
                <i class="fas fa-plus"></i>
              </p>
            </div>
          </li>
  
  
  
          <!-----------item no 4 ------------>
          <li class="item4">
            <div class="box">
  
              <img src="../../../assets/imgs/fundraiser.png">
  
              <a class="custome-text"> Fundraising</a>
              <p>
                <i class="fas fa-plus"></i>
              </p>
            </div>
          </li>
  
          <!-----------item no 5 ------------>
          <li class="item5">
            <div class="box">
  
              <img src="../../../assets/imgs/mortarboard.png">
  
              <a class="custome-text"> Scholarships</a>
              <p>
                <i class="fas fa-plus"></i>
              </p>
            </div>
          </li>
  
  
          <!-----------item no 6 ------------>
          <li class="item6">
            <div class="box">
              <img src="../../../assets/imgs/potted-plant.png">
  
              <a class="custome-text-two">
                Omniyat Dania
              </a>
              <p>
                <i class="fas fa-plus"></i>
              </p>
            </div>
          </li>
  
  
          <!-----------item no 7 ------------>
          <li class="item7">
            <div class="box">
  
              <img src="../../../assets/imgs/microscope.png">
  
              <a class="custome-text-three"> Medical Research</a>
              <p>
                <i class="fas fa-plus"></i>
              </p>
            </div>
          </li>
        </ul>
      </div>
  
          
          
    
      </div>
  </div>
</section>
<!-------------------------- End Third Section  -------------------->


<!--------------------------- section Four----------------------->

<!------------------------ ----- Card section  Four section---------------------->
<section class="card-section spad text-center section-four">
  <div class="container ">
    <p class="title-page"> Our Letest</p>
    <h4 class="title-page-main" >  Press Release</h4>
    <div class="row">
   <div class="card-group">
<!-------------------------------------card one ----------------->
    <div class="col-lg-3 col-md-3">
        <div class="card one">
          <div class="card-body">
            <h5 class="card-title "> 02</h5>
            <h4>December</h4>
            <p> Monday 2015</p>
            <p class="card-text">
              7 Emirates Run raises AED60,000 for Al Jalila Foundation to support Sharjah toddler suffering from limb
              deformity.
            </p>
          </div>
          <div class="card-footer">
            <button type="button"
              class="btn btn-light ">Read More</button>
          </div>

      </div>
  </div>
<!-------------------------------------card two ----------------->

  <div class="col-lg-3 col-md-3">
        <div class="card two">
          <div class="card-body">
            <h5 class="card-title">04</h5>
            <h4>January</h4>
            <p> Monday 2016</p>
            <p class="card-text">
              10 years of innovation and progress under the visionary leadership
            </p>
          </div>
          <div class="card-footer">
            <button type="button"
              class="btn btn-secondary">Read More</button>

          </div>
        </div>

     
  </div>

<!-------------------------------------card three ----------------->

  <div class="col-lg-3 col-md-3">
        <div class="card three">
          <div class="card-body">
            <h5 class="card-title">23</h5>
            <h4>January</h4>
            <p> saturday 2016</p>
            <p class="card-text"> Getting ready for the BeWell Cycle Tour at UAE to join us ?</p>

          </div>
          <div class="card-footer">
            <button type="button"
              class="btn btn-secondary">Read More</button>

          </div>
      </div>
  </div>

<!-------------------------------------card four ----------------->

  <div class="col-lg-3 col-md-3">
        <div class="card four">
          <div class="card-body">
            <h5 class="card-title">07</h5>
            <h4>October</h4>
            <p> wednsday 2015</p>
            <p class="card-text"> Ghadeer Kunna " I am living proof that you can beat this (breast cancer) thing."</p>

          </div>
          <div class="card-footer">
            <button type="button"
              class="btn btn-secondary">Read More</button>

          </div>

        </div>

      
  </div>
   </div>
   
  
    
  </div>
     
  </div>
</section>
<!-------------------------- End Card section  ------------------------->

<!-------------------------- End Section Four-------------------------->