ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #c8d6e5;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}


.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}



 h3 {
    color: #636e72;
    font-size: 16px;
    margin-bottom: 25px;
    position: relative;
    font-family: sans-serif;
}

.footer-widget ul li {
  margin-bottom: 12px;
  list-style: none;
}

.footer-widget ul li a {
  color: #636e72;
  text-transform: capitalize;
  font-size: 13px;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  background: white;
  border: 1px solid white;
  width: 100%;
  font-size: 14px;
  height: 40px;
  padding-left: 5px;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #008996;
    padding: 4px 9px;
    top: 0;
    font-size: 13px;
    color: white;
    height: 40px;
    border-radius: 0px;
    cursor: pointer;

}

.copyright-area{
  background: #008996;
  padding: 25px 0;
}


.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: white;
}
.copyright-text p a{
  color: white;
}
.footer-menu li {
  display: inline-block;
   margin: 5px;
}

.footer-menu li a {
  font-size: 12px;
  color: white;
  text-align: center;
}
.br{
    border-left: solid 1px white;

}

h2 {
    color: #636e72;
    font-size: 18px;
    margin-top: 30px;
}
// palceholder
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(114, 111, 111, 0.501);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(114, 111, 111, 0.501);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(114, 111, 111, 0.501);

  }