<!--  top nav -->
<header>
  <div class="container  text-header">
    <div class="row justify-content-between">
      <div class="col-md-3 text-center">
        <!------------- Logo Row  ----------------->

        <img src="../../../assets//imgs//image001.png">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 cpl-sm-12">

        <!------------- First Row  ----------------->

        <div class="row  justify-content-center">
          <ul>
            <li> <a> REGISITER</a></li>
              <a class="br"></a>
            <li> <a> LOGIN</a></li>

          </ul>
        </div>
        <!------------- End First Row  ----------------->


        <!------------- second Row  ----------------->

        <div class="row  justify-content-center ">
          <ul class="second-row">
            <li> <a class="second-text active"> En</a></li>
            <li> <a class="second-text"> Ar</a></li>
            <a class="br"></a>
            <li> <a class="second-text captial"> A</a></li>
            <li> <a class="second-text "> A</a></li>
          </ul>
        </div>
        <!------------- End second Row  ----------------->

      </div>
    </div>
  </div>
</header>